html,
body {
    margin: 0;
    padding: 0;
    background-color: black;

    user-select: none;
    -webkit-user-select: none;
    cursor: none;

    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.PolyMasking {
    flex: 1;
}

canvas {
  display: block;
  color: black;
}