@font-face {
    font-family: "DotGothic16";
    src: url('fonts/DotGothic16-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "GamePocket-Regular";
    src: url('fonts/GamePocket-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "Led-Display";
    src: url('fonts/The Led Display St.ttf') format('truetype');
}

:root {
    font-size: 12px;
}
html,
body {
    margin: 0;
    padding: 0;

    background-color: black;
    color: white;
    font-family: 'DotGothic16';
    font-size: 1rem;

    user-select: none;
    -webkit-user-select: none;
    cursor: default;

    scroll-behavior: smooth;
}

/* Lockscreen styles */
body.lockscreen {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.lockscreen-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lockscreen-bg {
    position: absolute;
    top: 0;
    left: 80px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.lockscreen-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lockscreen-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.lockscreen-content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 60px 20px;
}

.lockscreen-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.lockscreen-time {
    font-size: 120px;
    font-weight: bold;
    line-height: 1;
    color: white;
}

.lockscreen-date {
    font-size: 32px;
    color: rgba(255, 255, 255, 0.8);
}


canvas {
  display: block;
  color: black;
}

div {
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
    padding-bottom: .5rem;
    font-size: 1.5rem;
}

h1 {
    margin: 0;
    padding: 0;
    padding-bottom: 1rem;
    /* font-family: "Led-Display"; */
    font-size: 12.5rem;
    font-weight: normal;
}

h2 {
    margin: 0;
    padding: 0;
    padding-bottom: 2rem;
    font-size: 2.5rem;

    text-decoration: underline;
    text-underline-offset: 1rem;
}


.main-w {
    position: relative;
    width: 100vw;
    height: 80vh;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    padding: 2rem;
}

/* index */

.click {
    position: fixed;
    top: 10rem;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: 10vh;
}
.work {
    position: fixed;
    bottom: 10rem;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: 10vh;
}
.click img, .work img {
    width: auto;
    height: 100%;
    filter: invert(1);
}

/* login */

form {
    padding-top: 4rem;

    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: .5rem;
    font-family: 'DotGothic16';


    width: 30rem;
    height: auto;
}

form label {
    font-size: 1.5rem;
}

form input {
    font-size: 1.5rem;
    padding: 1rem;
    background-color: black;
    color: white;
    border: 2px solid white;
    outline: none;
    font-family: 'DotGothic16';
}

form button {
    font-size: 1.5rem;
    padding: 1rem;

    background-color: white;
    color: black;
    border: none;
    font-family: 'DotGothic16';
    cursor: pointer;
}

form button:hover {
    background-color: #e0e0e0;
}